sample_by_tojas/
sample_by_tojas/access-modifiers/
sample_by_tojas/access-modifiers/dog.ts
sample_by_tojas/inheritance/
sample_by_tojas/inheritance/animal.ts
sample_by_tojas/inheritance/cat.ts
sample_by_tojas/inheritance/dog.ts
sample_by_tojas/inheritance/main.ts
sample_by_tojas/object-composition/dog.ts
