<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Reddit (GF version)</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/views/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
</head>

<body>

  <header>
    <label class="login">
      <span class="login">Username</span>
      <input class="login" type="text" placeholder="Max 10 char." maxlength="10" autofocus>
    </label>
    <button class="login">Login</button>
    <h4 class="login">Nobody logged in</h4>
  </header>
  <div class="container">
    <div class="empty_div"></div>
    <div class="top">
      <img class="top-left" src="/views/reddit.png">
      <div class="top-right">
        <h1 class="top-right">SPACE</h1>
      </div>
    </div>
    <div class="content">
      <div class="content_div"></div>
      <div class="emptydiv_right"></div>
    </div>
  </div>
  <div class="create">
    <form class="create-form">
      <div>
        <h2>
          CREATE POST
        </h2>
        <label>
          <span class="create">Title</span>
          <input class="create" type="text" name="title" id="title" required disabled>
        </label>
        <label>
          <span class="create">URL</span>
          <input class="create" type="url" name="url" id="url" required disabled>
        </label>
        <button type="submit" class="create" disabled>Submit</button>
      </div>
    </form>
  </div>
  <div class="modify">
    <form class="modify-form">
      <div>
        <h2 class="modify">
          MODIFY POST ID#
        </h2>
        <label>
          <span class="modify">Title</span>
          <input id="modify" class="modify" type="text" name="title" id="title" required disabled>
        </label>
        <label>
          <span class="modify">URL</span>
          <input class="modify" type="url" name="url" id="url" required disabled>
        </label>
        <button type="submit" class="modify" disabled>Submit</button>
      </div>
    </form>
  </div>
  <script src="/static/index.js"></script>
</body>

</html>