body {
  width: 100%;
  min-width: 700px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;
  min-width: 700px;
  z-index: 9;
  width: 100%;
  height: 40px;
  background: darkgray;
}

label.login {
  margin-left: 20px;
  padding: 0;
}

span.login {
  font-size: 26px;
  font-weight: 700;
  margin: 50px 0 0 0;
}

input.login {
  font-size: 24px;
  width: 150px;
  margin-left: 20px;
}

button.login {
  width: 80px;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-left: 20px;
}

h4.login {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background: lightgray;
  width: 100%;
  height: 100%;
}

.empty_div {
  height: 40px;
}

.top {
  background-image: url("/views/space.jpg");
  background-size: 100%;
  margin: 5px 10px 0 10px;
  height: 160px;
  min-width: 680px;
  display: flex;
}

img.top-left {
  height: 60px;
  width: auto;
  margin: 37px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 60px;
}

div.top-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h1.top-right {
  color: white;
  background: transparent;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 30px;
}

.content {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
}

div.post {
  margin: 2px 0;
  border: 2px solid black;
  background: whitesmoke;
  display: flex;
}

div.post-left {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 3px;
}

div.id {
  text-align: center;
}

div.score-vote {
  display: flex;
  justify-content: center;
}

img.upvote {
  flex: 1;
}

div.score {
  flex: 3;
  text-align: center;
}

img.downvote {
  flex: 1;
}

div.post-center {
  display: flex;
  flex-direction: column;
  flex: 17;
  margin: 3px;
}
div.post-right {
  display: flex;
  flex-direction: column;
  flex: 10;
  margin: 3px;
}
