body {
  width: 100%;
  min-width: 700px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;
  min-width: 700px;
  z-index: 9;
  width: 100%;
  height: 40px;
  background: darkgray;
}

label.login {
  margin-left: 20px;
  padding: 0;
}

span.login {
  font-size: 26px;
  font-weight: 700;
  margin: 50px 0 0 0;
}

input.login {
  font-size: 24px;
  width: 150px;
  margin-left: 20px;
}

button.login {
  width: 80px;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-left: 20px;
}

h4.login {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background: lightgray;
  width: 100%;
  height: 100%;
}

.empty_div {
  height: 40px;
}

.top {
  background-image: url("/views/space.jpg");
  background-size: 100%;
  margin: 5px 10px 0 10px;
  height: 160px;
  min-width: 680px;
  display: flex;
}

img.top-left {
  height: 60px;
  width: auto;
  margin: 37px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 60px;
}

div.top-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h1.top-right {
  color: white;
  background: transparent;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 30px;
}

div.content {
  display: flex;
}

div.content_div {
  display: flex;
  margin: 5px 10px;
  flex-direction: column;
  width: calc(100% - 200px);
  min-width: 680px;
}

div.emptydiv_right {
  width: 400px;
}

div.post {
  margin: 2px 0;
  border: 2px solid black;
  background: whitesmoke;
  display: flex;
}

div.post-left {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 3px;
}

div.id {
  text-align: center;
}

div.score-vote {
  display: flex;
  justify-content: center;
}

img.upvote {
  flex: 1;
}

img.upvote:hover {
  content: url("/views/upvoted.png");
}

div.score {
  flex: 3;
  text-align: center;
}

div.voted-user {
  display: none;
}

div.voted-value {
  display: none;
}

img.downvote {
  flex: 1;
}

img.downvote:hover {
  content: url("/views/downvoted.png");
}

div.post-center {
  display: flex;
  flex-direction: column;
  flex: 17;
  margin: 3px;
}
div.post-right {
  display: flex;
  flex-direction: column;
  flex: 10;
  margin: 3px;
}

div.ow-mo-de {
  display: flex;
}

div.owner {
  flex: 2;
}

a.modify {
  flex: 1;
}

a.delete {
  flex: 1;
}

div.create {
  position: fixed;
  top: 212px;
  left: calc(100% - 349px);
  width: 335px;
  z-index: 9;
  height: 205px;
  background: whitesmoke;
  border: 2px solid black;
}

div.modify {
  position: fixed;
  top: 427px;
  left: calc(100% - 349px);
  width: 335px;
  z-index: 9;
  height: 205px;
  background: whitesmoke;
  border: 2px solid black;
}

h2 {
  width: 335px;
  margin: 10px 0;
  text-align: center;
}

span.create {
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin: 5px 20px;
}

input.create {
  margin: 0 20px 10px 20px;
  width: 280px;
}

button.create {
  color: white;
  background: black;
  padding: 9px 15px;
  margin: 5px 0 0 130px;
  border-style: none;
  border-radius: 30px;
  font-size: 12px;
  display: block;
}