html, body {
  min-height: 320px;
  min-width: 610px;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  margin: 0;
  background: purple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.purple {
  background: plum;
}

.green {
  background: #53C237;
  display: flex;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.orange {
  background: orange;
  width: 80%;
  height: 80%;
  margin: auto;
}