body {
  background: lightgrey;
  font-family: 'Lato', sans-serif;
}

.my-form {
  width: 300px;
  position: absolute;
  left: calc(50% - 150px);
  top: 50px;
  padding: 20px 20px 0;
  background: white;
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
}

select {
  margin: 0 0 20px 0;
}

h4 {
  margin: 0 0 20px 0;
}
