.container {
  background: plum;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 10px;
  color: white;
  padding: 10px;
  font-size: 28px;
  width: 550px;
  margin: 20px auto;
}

.sides {
  background: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  grid-column: 1 / 2;
}

.right {
  grid-column: 3 / 4;
}

.center {
  background: #53C237;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}